@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using MultivendorWebViewer.Helpers;
@using MultivendorWebViewer.Components;
<ul class="multivendor-web-menu ">
    <li>
        <a class="user-menu-item">
            @Html.Icon(Icons.ShoppingList)
            <label>@CustomStrings.MyOrder</label>
        </a>
    </li>
    <li>
        <a class="user-menu-item">
            @Html.Icon(Icons.LogIn)
            <label>@CustomStrings.SignIn</label>
        </a>
    </li>
    <li>
        <a class="user-menu-item">
            @Html.Icon(Icons.LogOut)
            <label>@CustomStrings.SignOut</label>
        </a>
    </li>
</ul>
