@using MultivendorWebViewer;
@using MultivendorWebViewer.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{@Html.Raw(@ViewBag.Title ?? "Multivendor Web")} </title>
    @Styles.Render("~/Content/Presentation")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/helpers")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/order")
</head>
@{ 
    var applicationrequestContext = ApplicationRequestContext.GetContext(Context);
}
<body data-order-total-counter="@UrlUtility.Action(applicationrequestContext, "GetTotalQuantity", "Order")">
    <section class="main-layout">
        <div class="main-toolbar">
            <div class="header-toolbar">
                <ul class="multivendor-web-toolbar">
                    <li class="Container multivendor-web-logo">
                        <! -- Logo-->
                        @{
                            var headerLogoUrl = applicationrequestContext.Configuration.GetHeaderLogoUrl(applicationrequestContext, false);
                            var smallHeaderLogoUrl = applicationrequestContext.Configuration.GetHeaderLogoUrl(applicationrequestContext, true);
                            var routeValues = new { id = applicationrequestContext.Configuration.SiteProfile.StartCatalogueId };
                            var startCatalogueUrl = UrlUtility.Action(applicationrequestContext, "Index", "Category", routeValues);
                            //var startCatalogueUrl = Url.Action("Index", "Category", new { id = applicationrequestContext.Configuration.SiteProfile.StartCatalogueId });
                            var flagUrl = applicationrequestContext.Configuration.GetCountryFlagUrlByCulture(applicationrequestContext.SelectedCulture);
                            var contentUrl = @Url.Content(flagUrl);
                            }
                        <a class="header-logo" href="@startCatalogueUrl">

                            <img class="img logo-image" src="@headerLogoUrl">
                            <img class="img logo-image-small" src="@smallHeaderLogoUrl">
                        </a>
                        <! -- #End Logo-->
                    </li>
                    <li class="Container search-container">

                        <! -- Search box-->
                        <div class="quick-search-input" data-min-search="2">
                            <input class="key-text search-input" type="search" placeholder="@CustomStrings.Search" tabindex="5" autocomplete="xyz">
                            <a class="toolbar-search-icon"><span class="icon fa fa-search content fa-2x"></span></a>
                        </div>
                        <! -- #End: Search box-->

                    </li>
                    <li class="container right-aligned language-container" data-language-item-url="@UrlUtility.Action(applicationrequestContext, "GetLanguagePopUp", "Home")">
                        <img class="img-icon" src="@contentUrl">
                    </li>
                    <li class="container right-aligned">
                        <! -- order cart-->
                        <a class="order-cart-container item-container" href="@UrlUtility.Action(applicationrequestContext, "Index", "Order")">
                            <span class="icon fa fa-shopping-cart content fa-2x"></span>
                            <label class="icon-label">@CustomStrings.Order</label>
                            <div class="overlay">
                                <span class="total-qty"></span>
                            </div>
                        </a>
                        <! -- #End: order cart-->
                    </li>
                    <li class="container avatar-menu right-aligned user-menu" data-user-menu-url="@UrlUtility.Action(applicationrequestContext, "GetLanguagePopUp", "Home")">
                        <! -- User-->
                        <div class="item-container">
                            <span class="icon fa fa-user content fa-2x"></span>
                            <label class="icon-label user-label ">@CustomStrings.Menu</label>
                        </div>
                        <! -- #End: User-->
                    </li>
                </ul>

            </div>
            <div class="items-toolbar menu-toolbar">

            </div>
            <div class="items-toolbar">
                <ul class="multivendor-web-toolbar">
                    <li class=" container start-url">
                        <label>@CustomStrings.StartPage</label>
                    </li>

                </ul>
            </div>
        </div>
        <!-- #Render your view inside main body through controller-->
        <main class="main-body">
            @RenderBody()


        </main>
        <!-- #Render your view inside main body-->

        <footer class="main-footer"><span>©2021 Aka Multivendor Web</span></footer>
    </section>

    @Styles.Render("~/Content/Media")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
