@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using MultivendorWebViewer.Server.Models;
@model OrderViewModel

@{
    var customer = Model != null && Model.Customer != null ? Model.Customer : new CustomerViewModel(new Customer(), ApplicationRequestContext);

}
@if (Model != null && Model.OrderLines != null && Model.OrderLines.Any())
{
    <div class="delivery-container">
        <div class="shipping-container">
            <div class="shipping-header">
                <h3>@CustomStrings.ShippingAddress</h3>
            </div>
            <div class="shipping-address">
                <div class="first-name-label"><label>@CustomStrings.FirstName</label></div>
                <div class="first-name-input-container">
                <input class="standardtextbox first-name-input" maxlength="9999" type="text" value="@customer.FirstName">
                </div>
                <div class="last-name-label"><label>@CustomStrings.LastName</label></div>
                <div class="last-name-input-container"><input class="standardtextbox last-name-input" maxlength="9999" type="text" value="@customer.LastName"></div>
                
                <div class="email-label"><label>@CustomStrings.Email</label></div>
                <div class="email-input-container"><input class="standardtextbox customer-email-input" maxlength="9999" type="text" value="@customer.Email"></div>

                <div class="phone-label"><label>@CustomStrings.Phone</label></div>
                <div class="phone-input"><input class="standardtextbox customer-phone-input" maxlength="9999" type="text" value="@customer.PhoneNumber"></div>

                <div class="care-of-label"><label>@CustomStrings.CareOf</label></div>
                <div class="care-of-input-conatiner"><input class="standardtextbox care-of-input" maxlength="9999" type="text" value="@customer.CareOf"></div>

                <div class="address-label"><label>@CustomStrings.Address</label></div>
                <div class="address-input-conatiner"><input class="standardtextbox address-input" maxlength="9999" type="text" value="@customer.Address"></div>

                <div class="post-code-label"><label>@CustomStrings.PostCode</label></div>
                <div class="post-code-input-conatiner"><input class="standardtextbox post-code-input" maxlength="9999" type="text" value="@customer.PostCode"></div>

                <div class="City-name-label"><label>@CustomStrings.City</label></div>
                <div class="City-name-input-conatiner"><input class="standardtextbox city-input" maxlength="9999" type="text" value="@customer.City"></div>
                <div class="phone-label"><label>@CustomStrings.Country</label></div>
                <div class="phone-input-conatiner"><input class="standardtextbox country-input" maxlength="9999" type="text" value="@customer.Country"></div>


            </div>
        </div>
        <div class="delivery-method">
            <div class="shipping-header">
                <h3>@CustomStrings.DeliveryMethod</h3>
            </div>
            <div class="delivery-method-container">
                @{ 
                    string postStatus = Model.SelectedDeliveryOption == "postoffice" ? "checked=\"checked\"" : string.Empty;
                    string dhlStatus = Model.SelectedDeliveryOption == "dhl" ? "checked=\"checked\"" : string.Empty;
                    string sundarbanStatus = Model.SelectedDeliveryOption == "sundarbanexpress" ? "checked=\"checked\"" : string.Empty;
                    string homeStatus = Model.SelectedDeliveryOption == "homedelivery" ? "checked=\"checked\"" : string.Empty;

                }
                <div class="post-office-container">

                    <input type="radio" id="postoffice" name="deliverymethod" @postStatus value="postoffice"  class="postoffice-button">
                    <label for="postoffice">@CustomStrings.PostOffice</label>
                </div>
                <div class="dhl-container">
                    <input type="radio" id="dhl" name="deliverymethod" @dhlStatus value="dhl" class="dhl-button">
                    <label for="dhl">@CustomStrings.DHL</label>
                </div>
                <div class="sundarban-express-container">
                    <input type="radio" id="sundarbanexpress" name="deliverymethod" @sundarbanStatus value="sundarbanexpress" class="sundarbanexpress-button">
                    <label for="sundarbanexpress">@CustomStrings.SundarbanExpress</label>
                </div>
                <div class="home-delivery-container">
                    <input type="radio" id="homedelivery" name="deliverymethod" value="homedelivery" @homeStatus class="homedelivery-button">
                    <label for="homedelivery">@CustomStrings.HomeDelivery</label>
                </div>
            </div>



        </div>
    </div>


}
@*else { 
<div class="empty-order">@CustomStrings.OrderEmptyMessage</div>
}*@

