@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using MultivendorWebViewer.Models;
@*@model OrderViewModel*@

@{
    @Styles.Render("~/Content/Order")
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var applicationrequestContext = ApplicationRequestContext.GetContext(Context);
    var orderProcess = applicationrequestContext.Configuration.SiteProfile.OrderProcess;
}

<div class="order-cart-view">
    @*Show header*@


    <div class="order-header">
        <div class="order-name-container">
            <label class="order-name">@CustomStrings.Order</label>
        </div>
    </div>
  

    <div class="main-body-contents">
        <div class="order-body">
            <div class="order-cart-menu">
                <ul class="order-cart-ul" style="">
                    <li class="shoppingcart selected" data-tab="cart"><a href="#tab=cart" class="lnkshoppingcart">@CustomStrings.Products</a></li>
                    <li class="additional" data-tab="address"><a href="#tab=address" class="lnkadditional">@CustomStrings.ShippingAndBilling</a></li>
                    <li class="order-cart-payment" data-tab="payment"><a  href="#tab=payment" class="lnkPayment">@CustomStrings.Payment</a></li>
                </ul>
            </div>
            <div class="order-cart-body-container" 
                 data-tab="#tab=cart"
                 data-order-process="#tab=cart,#tab=address,#tab=payment"
                 data-order-cart-url="@UrlUtility.Action(applicationrequestContext, "OrderCartView", "Order")"
                 data-order-address-url="@UrlUtility.Action(applicationrequestContext, "OrderCustomerView", "Order")"
                 data-order-payment-url="@UrlUtility.Action(applicationrequestContext, "OrderPaymentView", "Order")"
                 data-order-cost-url="@UrlUtility.Action(applicationrequestContext, "OrderCostView", "Order")"
                 data-add-to-order-url="@UrlUtility.Action(applicationrequestContext, "OrderItem", "Order")" 
                 data-delete-all-order-url="@UrlUtility.Action(applicationrequestContext, "DeleteAllOrder", "Order")">

                <div class="order-items-container">
                    @*@Html.Partial("OrderCart", Model)*@
                </div>
                <div class="order-shipping-billing-container hidden">
                    @*@Html.Partial("CustomerView", Model)*@
                </div>
                <div class="order-payment-container hidden">
                    @*@Html.Partial("PaymentView")*@
                </div>
                    <div class="order-cost-container">
                       @*@Html.Partial("OrderCartCostViewContainer", Model)*@
                    </div>
             
            </div>
        </div>
    </div>
</div>
